{{define "content"}}
<h3>Browse Breweries</h3>
<form class="navbar-search pull-left">
    <input id="brewery-search" type="text" class="search-query"
           placeholder="Search for Breweries">
</form>

<table id="brewery-table" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range $brew := .Results}}
    <tr>
        <td><a
                href="/breweries/show/{{$brew.Id}}">{{$brew.Name}}</a></td>
        <td><a class="btn btn-small btn-danger"
               href="/breweries/delete/{{$brew.Id}}">Delete</a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}